---
import Root from "@/layouts/root.astro";
import BlogSection from "@/components/home/blog-section.astro";
---

<Root title="Blog" description="Read the latest articles on our blog.">
  <main>
    <BlogSection />
  </main>
</Root>
