---
import AboutSection from "@/components/home/about-section.astro";
import Root from "@/layouts/root.astro";
import BlogSection from "@/components/home/blog-section.astro";
import DiscogsSection from "@/components/home/discogs-section.astro";
import FlowerSection from "@/components/home/flower-section.astro";
---

<Root>
  <main class="flex flex-col gap-16">
    <FlowerSection />
    <div>
      <h1 class="leading-none!">kappke.dev</h1>
      <h4 class="font-body text-[#ffffffb3]! mb-8! leading-none!">
        software craftsman made in brazil
      </h4>
      <AboutSection />
    </div>
    <BlogSection headingClassName="text-4xl!" />
    <DiscogsSection />
  </main>
</Root>
