---
import Image from "astro/components/Image.astro";
import flowerWater from "../../assets/flower-water.png";
---

<section class="-m-4!">
  <Image
    src={flowerWater}
    alt="A beautiful flower"
    width={696}
    height={320}
    class="mx-auto w-full mix-blend-lighten"
  />
</section>
