---
import HeaderLink from "./header-link.astro";
---

<header class="sticky top-0 bg-[var(--background)] z-20">
  <main>
    <nav class="flex justify-between items-center py-4">
      <div class="flex gap-8 items-center">
        <img src="/kappke-simple.svg" class="h-12 w-12" />
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </nav>
  </main>
</header>
