---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

type Props = {
  headingClassName?: string;
};

const posts = (await getCollection("blog"))
  .filter((post) => post.data.pubDate && !post.data.draft)
  .sort((a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf());

const { headingClassName } = Astro.props;
---

{
  posts.length > 0 && (
    <section>
      <h1 class:list={[headingClassName, "leading-none! mb-8!"]}>
        recent blog posts
      </h1>
      <ul>
        {posts.map((post) => (
          <li>
            <a
              href={`/blog/${post.id}/`}
              class="flex gap-4 max-h-[225px] overflow-hidden mb-8!"
            >
              {post.data.heroImage && (
                <Image
                  width={246}
                  height={185}
                  src={post.data.heroImage}
                  alt=""
                  class="w-[300px]! h-[169px]! object-cover rounded-md"
                />
              )}
              <div class="flex flex-col h-full overflow-hidden">
                <h4 class="leading-none!">{post.data.title}</h4>
                <p class="leading-none! text-[#ffffffb3]">
                  <FormattedDate date={post.data.pubDate!} />
                </p>
                <p class="mt-2! mb-0! h-full flex-grow overflow-hidden truncate whitespace-normal line-clamp-4">
                  {post.data.description}
                </p>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </section>
  )
}
