---
const today = new Date();
---

<footer class="bg-[var(--card)] py-4">
  <main class="flex gap-16 justify-between items-center text-xs">
    <img src="/kappke-full.svg" class="w-38" />
    &copy; {today.getFullYear()} kappke.dev. All rights reserved.
  </main>
</footer>
