@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rakkas&display=swap");
@import "tailwindcss";

:root {
  --black: rgb(15, 18, 25);
  --gray: rgb(160, 170, 180);
  --foreground: #e6e6e6;
  --background: #1e1e1e;
  --card: #101010;
  --accent: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-head {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}

body,
.font-body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

body > main,
footer > main,
header > main {
  max-width: min(100%, max(500px, min(760px, 70%)));
  margin: 0 auto;
  padding: 0 2rem;
}

body > main {
  padding: 4rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--accent);
  line-height: 1.2;
  letter-spacing: 0.5pt;
}

h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 4px;
  margin: 0 2px;
  background-color: var(--card);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid #ffffffb3;
  margin-top: 0.75rem;
}
